.footer-basic {
	padding: 20px 0;
}


@media (prefers-color-scheme: light) {
	.footer-basic {
		background-color:rgb(247, 247, 247);
	}
}


@media (prefers-color-scheme: dark) {
	.footer-basic {
		background-color:#15171a;
	}
	.footer-basic .copyright {
		color: white
	}
}

.footer-basic img {
	margin-top: 20px;
}

.footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:15px;
	margin-bottom:0;
}
  